body {
background: black;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
        border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    background-color: rgba(0, 0, 0, 0.03);

}
.table-dark {

    color: #000;
    background-color: #212529;
    background-color: rgba(0, 0, 0, 0.03) !important;

}
.nav-tabs > li > a {

    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid;

}